:root{

    // Colors

    --theme-gray: #303030;
    --theme-text-color: #fff;
    --theme-bg-color: #202323;
    --theme-bg-variant: #313535;
    --theme-color1: #ffdf00;
    --theme-grey: #838585;
    --theme-shadow-color: #313535;

    // Fonts

    --body-text-font: 'TT Norms Pro';
    --heading-text-font: 'DM Serif Display', serif;
}