:root{

    // Colors

    --theme-text-color: #fff;
    --theme-bg-color: #202323;
    --theme-color1: #ffdf00;

    // Fonts

    --body-text-font: 'Roboto', sans-serif;
    --heading-text-font: 'DM Serif Display', serif;
}