
.custom-btn{
    display: inline-block;
    padding: 18px 32px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #ffdf00;
    color: #202323;
    font-family: var(--body-text-font);
    font-weight: 700;
    cursor: pointer;

    @include mobile-576{
        padding: 12px 25px;
        font-size: 14px;
    }

    &.header-btn{
        padding: 10px 20px;
        text-transform: capitalize;

        @include mobile-576{
            padding: 7px 14px;
        }
    }

    &.with-icon{
        display: inline-flex;
        
        i{
            align-self: center;
        }
    }

    &.disabled{
        opacity: .1;
        cursor: not-allowed;
    }
}



.back-arrow{
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
    transition: ease all .2s;
    z-index: 10;

    @include mobile-576{
        height: auto;
        width: auto;
    }

    svg{
        color: var(--theme-text-color);
        height: 30px;
        width: 30px;
        align-self: center;
    }

    &:hover{
        background: var(--theme-bg-variant);
    }


}